In [139]:
import pandas as pd
import matplotlib.pyplot as plt
# Set pandas display option
pd.set_option('display.max_columns', None)

In [140]:
# Load data
raw_data = pd.read_csv('Zomato Raw Data.csv')
df = pd.DataFrame(raw_data.copy())
# Display the first few rows of the DataFrame
df.head()

,res_id,name,establishment,url,address,city,city_id,locality,latitude,longitude,zipcode,country_id,locality_verbose,cuisines,timings,average_cost_for_two,price_range,currency,highlights,aggregate_rating,rating_text,votes,photo_count,opentable_support,delivery,takeaway
0,3400299,Bikanervala,Quick Bites,https://www.zomato.com/agra/bikanervala-khanda...,"Kalyani Point, Near Tulsi Cinema, Bypass Road,...",Agra,34,Khandari,27.211450,78.002381,NaN,1,"Khandari, Agra","North Indian, South Indian, Mithai, Street Foo...",8:30am – 10:30pm (Mon-Sun),700,2,Rs.,"Lunch, Takeaway Available, Credit Card, Dinner...",4.4,Very Good,814,154,0.0,-1,-1
1,3400005,Mama Chicken Mama Franky House,Quick Bites,https://www.zomato.com/agra/mama-chicken-mama-...,"Main Market, Sadar Bazaar, Agra Cantt, Agra",Agra,34,Agra Cantt,27.160569,78.011583,282001,1,"Agra Cantt, Agra","North Indian, Mughlai, Rolls, Chinese, Fast Fo...","12:30PM to 12Midnight (Mon, Wed, Thu, Fri, Sat...",600,2,Rs.,"Delivery, No Alcohol Available, Dinner, Takeaw...",4.4,Very Good,1203,161,0.0,-1,-1
2,3401013,Bhagat Halwai,Quick Bites,https://www.zomato.com/agra/bhagat-halwai-2-sh...,"62/1, Near Easy Day, West Shivaji Nagar, Goalp...",Agra,34,Shahganj,27.182938,77.979684,282010,1,"Shahganj, Agra","Fast Food, Mithai",9:30 AM to 11 PM,300,1,Rs.,"No Alcohol Available, Dinner, Takeaway Availab...",4.2,Very Good,801,107,0.0,1,-1
3,3400290,Bhagat Halwai,Quick Bites,https://www.zomato.com/agra/bhagat-halwai-civi...,"Near Anjana Cinema, Nehru Nagar, Civil Lines, ...",Agra,34,Civil Lines,27.205668,78.004799,282002,1,"Civil Lines, Agra","Desserts, Bakery, Fast Food, South Indian",8am – 11pm (Mon-Sun),300,1,Rs.,"Takeaway Available, Credit Card, Lunch, Delive...",4.3,Very Good,693,157,0.0,1,-1
4,3401744,The Salt Cafe Kitchen & Bar,Casual Dining,https://www.zomato.com/agra/the-salt-cafe-kitc...,"1C,3rd Floor, Fatehabad Road, Tajganj, Agra",Agra,34,Tajganj,27.157709,78.052421,NaN,1,"Tajganj, Agra","North Indian, Continental, Italian",11:30 AM to 11:30 PM,1000,3,Rs.,"Lunch, Serves Alcohol, Cash, Credit Card, Dinn...",4.9,Excellent,470,291,0.0,1,-1

In [141]:
# Display data types of columns
print("\nData Types:")
print(df.dtypes)

Data Types:
res_id                    int64
name                     object
establishment            object
url                      object
address                  object
city                     object
city_id                   int64
locality                 object
latitude                float64
longitude               float64
zipcode                  object
country_id                int64
locality_verbose         object
cuisines                 object
timings                  object
average_cost_for_two      int64
price_range               int64
currency                 object
highlights               object
aggregate_rating        float64
rating_text              object
votes                     int64
photo_count               int64
opentable_support       float64
delivery                  int64
takeaway                  int64
dtype: object

In [142]:
# Show unique values in 'zipcode'
print("\nUnique Zipcodes:")
print(df['zipcode'].unique())

Unique Zipcodes:
[nan '282001' '282010' ... '390008' '390013' '390004']

In [143]:
# Convert 'zipcode' to numeric, handling non-numeric values and fill NaNs
df['zipcode'] = pd.to_numeric(df['zipcode'], errors='coerce')
df['zipcode'] = df['zipcode'].fillna(0).astype(int)

In [144]:
# Show unique values in 'zipcode'
print("\nUnique Zipcodes:")
print(df['zipcode'].unique())

Unique Zipcodes:
[     0 282001 282010 ... 390008 390013 390004]

In [145]:
# Check for and handle duplicate rows
duplicate_count = df.duplicated().sum()
print(f"\nNumber of duplicated rows before removing duplicates: {duplicate_count}")

df.drop_duplicates(keep='first', inplace=True)

duplicate_count = df.duplicated().sum()
print(f"Number of duplicated rows after removing duplicates: {duplicate_count}")

Number of duplicated rows before removing duplicates: 151527
Number of duplicated rows after removing duplicates: 0

In [146]:
# Drop irrelevant columns
df.drop(['url', 'address', 'latitude', 'longitude', 'country_id', 'currency','opentable_support'], axis='columns', inplace=True)

In [147]:
# Summary of rows and columns before and after cleaning
print(f"\nData Summary:")
print(f"We had {raw_data.shape[0]} rows and {raw_data.shape[1]} columns.")
print(f"After cleaning, we now have {df.shape[0]} rows and {df.shape[1]} columns.")

Data Summary:
We had 211944 rows and 26 columns.
After cleaning, we now have 60417 rows and 19 columns.

In [148]:
# Display the cleaned DataFrame
print("\nCleaned Data:")
df.head()

Cleaned Data:

,res_id,name,establishment,city,city_id,locality,zipcode,locality_verbose,cuisines,timings,average_cost_for_two,price_range,highlights,aggregate_rating,rating_text,votes,photo_count,delivery,takeaway
0,3400299,Bikanervala,Quick Bites,Agra,34,Khandari,0,"Khandari, Agra","North Indian, South Indian, Mithai, Street Foo...",8:30am – 10:30pm (Mon-Sun),700,2,"Lunch, Takeaway Available, Credit Card, Dinner...",4.4,Very Good,814,154,-1,-1
1,3400005,Mama Chicken Mama Franky House,Quick Bites,Agra,34,Agra Cantt,282001,"Agra Cantt, Agra","North Indian, Mughlai, Rolls, Chinese, Fast Fo...","12:30PM to 12Midnight (Mon, Wed, Thu, Fri, Sat...",600,2,"Delivery, No Alcohol Available, Dinner, Takeaw...",4.4,Very Good,1203,161,-1,-1
2,3401013,Bhagat Halwai,Quick Bites,Agra,34,Shahganj,282010,"Shahganj, Agra","Fast Food, Mithai",9:30 AM to 11 PM,300,1,"No Alcohol Available, Dinner, Takeaway Availab...",4.2,Very Good,801,107,1,-1
3,3400290,Bhagat Halwai,Quick Bites,Agra,34,Civil Lines,282002,"Civil Lines, Agra","Desserts, Bakery, Fast Food, South Indian",8am – 11pm (Mon-Sun),300,1,"Takeaway Available, Credit Card, Lunch, Delive...",4.3,Very Good,693,157,1,-1
4,3401744,The Salt Cafe Kitchen & Bar,Casual Dining,Agra,34,Tajganj,0,"Tajganj, Agra","North Indian, Continental, Italian",11:30 AM to 11:30 PM,1000,3,"Lunch, Serves Alcohol, Cash, Credit Card, Dinn...",4.9,Excellent,470,291,1,-1

In [149]:
print("\nMissing Values Before Imputation:")
print(df.isna().sum())

Missing Values Before Imputation:
res_id                     0
name                       0
establishment           1920
city                       0
city_id                    0
locality                   0
zipcode                    0
locality_verbose           0
cuisines                 470
timings                 1070
average_cost_for_two       0
price_range                0
highlights               743
aggregate_rating           0
rating_text                0
votes                      0
photo_count                0
delivery                   0
takeaway                   0
dtype: int64

In [150]:
# Fill missing values with placeholders

# 'cuisines': Categorical; 'Unknown' indicates missing data.
df['cuisines'].fillna('Unknown', inplace=True)

# 'timings': Categorical; 'Not available' specifies missing hours.
df['timings'].fillna('Not available', inplace=True)

# 'highlights': Categorical; 'Not Available' for missing features.
df['highlights'].fillna('Not Available', inplace=True)

# 'establishment': Categorical; 'Not Available' for missing establishment type.
df['establishment'].fillna('Not Available', inplace=True)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_15896\2754803382.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cuisines'].fillna('Unknown', inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_15896\2754803382.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['timings'].fillna('Not available', inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_15896\2754803382.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['highlights'].fillna('Not Available', inplace=True)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_15896\2754803382.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['establishment'].fillna('Not Available', inplace=True)

In [151]:
# Check for missing values after imputation
print("\nMissing Values After Imputation:")
print(df.isna().sum())

Missing Values After Imputation:
res_id                  0
name                    0
establishment           0
city                    0
city_id                 0
locality                0
zipcode                 0
locality_verbose        0
cuisines                0
timings                 0
average_cost_for_two    0
price_range             0
highlights              0
aggregate_rating        0
rating_text             0
votes                   0
photo_count             0
delivery                0
takeaway                0
dtype: int64

In [152]:
df.describe()

,res_id,city_id,zipcode,average_cost_for_two,price_range,aggregate_rating,votes,photo_count,delivery,takeaway
count,6.041700e+04,60417.000000,6.041700e+04,60417.000000,60417.000000,60417.000000,60417.000000,60417.000000,60417.000000,60417.0
mean,1.309336e+07,3418.302729,6.262222e+04,538.283000,1.730788,3.032799,261.496052,193.954533,-0.371766,-1.0
std,8.132817e+06,5179.351361,1.925490e+05,593.840932,0.880452,1.440796,728.039842,702.078844,0.925262,0.0
min,5.000000e+01,1.000000,0.000000e+00,0.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,-1.0
25%,3.000488e+06,7.000000,0.000000e+00,200.000000,1.000000,2.900000,7.000000,1.000000,-1.000000,-1.0
50%,1.869151e+07,26.000000,0.000000e+00,400.000000,1.000000,3.500000,42.000000,11.000000,-1.000000,-1.0
75%,1.886666e+07,11295.000000,0.000000e+00,600.000000,2.000000,4.000000,207.000000,82.000000,1.000000,-1.0
max,1.915979e+07,11354.000000,6.410011e+06,30000.000000,4.000000,4.900000,42539.000000,17702.000000,1.000000,-1.0

In [153]:
df.to_csv('Zomato Cleaned data.csv',index=False)